isCameraFlip=""
language="ja"
isSaveCameraLog=true
logType="image"
zDepthFromCameraOnZoom=10
sensitivityOn3dMove=0.02
sensitivityOn3dRotate=2.0
isSaveCGLog=false
frameLogFolder="__LOG_BASE__/frameLog"
ffmpegCommandPath="/usr/bin/ffmpeg"
ffmpegVideoSize="1280x800"
ffmpegFramerate="10"
isThrowOldMmapError=true
isSonarViewVisible=true
settingsIni="__CONFIG_BASE__/settings.ini"
calibrationCheckHistoryFolder="__LOG_BASE__/calibrationHistory/checkHistory"
calibrationHistoryFolder="__LOG_BASE__/calibrationHistory/history"
kanshiMmap0="__RUNTIME_BASE__/map0.dat"
kanshiMmap1="__RUNTIME_BASE__/map1.dat"
calibrationMmap0="__RUNTIME_BASE__/map_c0.dat"
calibrationMmap1="__RUNTIME_BASE__/map_c1.dat"
errorMmap0="__RUNTIME_BASE__/err0.dat"
errorMmap1="__RUNTIME_BASE__/err1.dat"
calibration2d3dFolderByCalibration="__LOG_BASE__/tmpCalib/2d-3d"
calibration3d3dFolderByCalibration="__LOG_BASE__/tmpCalib/3d-3d"
calibration2d3dFolderForKanshi="__ARGUS3D_CORE__/calibration/2d-3d"
calibration3d3dFolderForKanshi="__ARGUS3D_CORE__/calibration/3d-3d"
activeCalibrationFolder=""
isSnapshotEnabled=false
isZabutonOn=false
isDarkMode=false
isRotateUpper="downer"
isFullScreen=false
logFilePath="__LOG_BASE__/ui/godotLog.txt"
snapshotTime="infinity"
jetsonMonitorPath="__JETSON_MONITOR_PATH__"
uptimeJsonPath="__ARGUS3D_LIB_BASE__/runtime/runtime_state.json"
updateHistoryJsonPath="__LOG_BASE__/updateHistory.json"
